<% if line_item == @current_item %>
<tr id="current_item">
<% else %>		
<tr>
<% end %>
	<td>
		<%=line_item.quantity %> &times <%= line_item.product.title %> 
	</td>
	<td class="items_price"><%= number_to_currency(line_item.total_price) %></td>
	<% if @order.nil? %>
		<td>
			<p>
				<%= button_to "Remove Item", line_item, method: :delete, 
				class: "btn btn-xs btn-warning",	data: "Are you sure?"%>
			</p>
			<p>
				<%= button_to "add another", line_items_path(product_id: line_item.product), class: "btn btn-xs btn-success", data: "add another item?"%>
			</p>
			<p>
				<%= button_to "remove one", decrement_line_item_path(id: line_item),
			class:"btn btn-xs btn-info"%>
			</p>
		<td>
	<% end %>
</tr>
